<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>HYGPage.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B50852741CD1BFE200BE41E4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B508528D1CD1BFE200BE41E4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B50852981CD1BFE200BE41E4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
